@use '../abstracts/variables' as *;


@each $name, $color in $theme-colors{

    // Generar clases de color de texto, con los colores base
    .text-#{$name}{
        color: $color !important;
    }


    // Generar clases de color de fondo, con los colores base
    .bg-#{$name}{
        background-color: $color !important;

        //Valida que si el color es oscuro o claro, el texto hijo será claro u oscuro
        @if $name == "dark" or $name == "danger" or $name == "success" or $name == "primary" or $name == "accent" or $name == "pink" or $name == "pig"{
            color: $matilda-white !important;
        } @else if $name == "warning" or $name == "light" or $name == "silver" or $name == "gold"{
            color: $bomb-black !important;
        }
    }
}
