.d-none         { display: none; } //Oculta el elemento
.d-block        { display: block; } // Lo muestra como bloque
.d-inline       { display: inline; } //Lo muestra en línea
.d-inline-block { display: inline-block; } // Como bloque en linea