@use '../abstracts/variables' as *;

// --- MÁRGENES ---
@each $key, $value in $spacers {
  .mt-#{$key} { margin-top: $value; } //Arriba
  .mb-#{$key} { margin-bottom: $value; } //Abajo
  .ml-#{$key} { margin-left: $value; } //Izquierda
  .mr-#{$key} { margin-right: $value; } //Derecha
  .mx-#{$key} { margin-left: $value; margin-right: $value; } //Iaquierda Derecha
  .my-#{$key} { margin-top: $value;  margin-bottom: $value; } //Arriba Abajo
  .m-#{$key}  { margin: $value; } //Los 4 lados
}

// --- PADDINGS ---
@each $key, $value in $spacers {
  .pt-#{$key} { padding-top: $value; }
  .pb-#{$key} { padding-bottom: $value; }
  .pl-#{$key} { padding-left: $value; }
  .pr-#{$key} { padding-right: $value; }
  .px-#{$key} { padding-left: $value; padding-right: $value; }
  .py-#{$key} { padding-top: $value;  padding-bottom: $value; }
  .p-#{$key}  { padding: $value; }
}